.blog {
  text-align: justify;
  display: flex;
  flex-direction: column;
  width: 1160px;
  height: 440px;
  background-color: #EDF7FA;
  padding-left: 165px;
  margin-top: 70px;
  margin-right: 60px;
}


.blog h2 {
  margin-top: 20px;
  margin-bottom: 20px;
  color: #21243D;
  font-family: Heebo;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 60px;
}

.cards {
  display:flex;
  flex-direction: row;
  gap: 92px;
  background-color: #EDF7FA;
}

.card {
  padding: 20px;
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
  width: 418px;
  height: 295px;
  border-radius: 4px;
  background: #FFF;
  box-shadow: 0px 4px 10px 0px rgba(187, 225, 250, 0.25);
}

.card h5 {
  margin-top: 10px;
  margin-bottom: 10px;
  color: var(--Dark-Color, #21243D);
  font-family: Heebo;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.card span {
  margin-top: 10px;
  margin-bottom: 10px;
  color: var(--Dark-Color, #21243D);
  font-family: Heebo;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.card p {
  color: var(--Dark-Color, #21243D);
  font-family: Heebo;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 10px;
  margin-bottom: 10px;
}
