.footer {
  margin-top: 100px;
  margin-bottom: 50px;
  margin-left: 165px;
  text-align: center;
}

.footer div {
  display: flex;
  justify-content: center;
  gap: 35px;
  margin-bottom: 25px;
}

.footer a {
  color: #000 !important;
}

.footer p {
  color: var(--Dark, #21243D);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
